@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$font-family-sans-serif: 'Montserrat';

.h1-font {
  font-size: 5rem;
  font-weight: bold;
}
.h2-font {
  font-size: 2rem;
  font-weight: bold;
}
.h3-font {
  font-size: 1.2rem;
}
